html, body, .container-fluid, .row, .gutter, .main{
	height: 100%;
}

.gutter {
	background: rgb(51,51,51);

}
#profileimage {
	background-image: url('../img/profile_thumb.jpg');
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	text-indent: -999em;
	display: block;
	width: 75px;
	height: 75px;
	font-style: none;
	margin: 20px 30px 20px 100px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 1px 3px black;
	-moz-box-shadow: 0 1px 3px black;
	-webkit-box-shadow: 0 1px 3px black;
}
.nav{
	color: white;
	font-size: 1.5em;
}
.gutter:nth-child(3){
	box-shadow: inset 0.75em 0 0.5em 0 black;
}

.main {
	background: rgb(238, 238, 238);
	box-shadow: 0 0 2em 0.5em black;
}

